[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hergm"]
	path = hergm
	url = https://github.com/cran/hergm
	shallow = true
	registered = true
